.containerOne{
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  width:100vi;
  height: 100vb;
  background-image: url("../assets/fondo_app.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titulo {
  color: black;
  border: 3px solid rgb(166, 0, 255);
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.797);
  color: aliceblue;
  display: flex; /* Convierte el div en un contenedor Flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 0.2rem;
  margin: 1rem;
}
.container {
  border: 2px solid rgba(0, 0, 255, 0.479);
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.797);
  cursor: pointer;
  color: aliceblue;
  display: flex; /* Convierte el div en un contenedor Flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 0.2rem;
  margin: 1rem;
}
