.containerLanding {
  /*   border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Continentes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* @media screen and (max-width: 1366px) {
  .containerLanding {
    height: 520px;
  }
} */

.cajaLanding {
  border: 2px solid rgba(212, 215, 218, 0.336);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 15rem;
  border-radius: 1.5rem;
  background-color: rgba(16, 16, 155, 0.39);
  color: rgb(211, 202, 202);
  padding: 1rem;
}

.cajaLanding1 {
  border: 2px solid rgba(0, 0, 255, 0.514);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: rgba(240, 248, 255, 0.336);
  color: black;
}
.navinicio {
  color: black;
}
