.containerLanding {
  /*   border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Continentes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cajaLanding {
  border: 2px solid rgba(0, 0, 255, 0.39);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 15rem;
  border-radius: 1.5rem;
  background-color: rgba(240, 248, 255, 0.336);
  color: black;
  padding: 1rem;
}

.cajaLanding1 {
  border: 2px solid rgba(0, 0, 255, 0.514);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: rgba(240, 248, 255, 0.336);
  color: black;
}
.navinicio {
  color: black;
}
