.containerOne {
  /*   display: flex;
  justify-content: center; 
  align-items: center;  */
  width: 100vw;
  height: 100vb;
  background-image: url("../assets/Home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border: 2px solid red;
  height: 100%;
  margin: 10px;
}
.Navbar {
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.caja {
  margin: 10px;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 10px;
}

.body {
  display: flex;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  border: 5px solid magenta;
  height: 100%;
  flex-wrap: wrap;
}
.cajabody {
  width: 200px;
  height: 250px;
  border: 3px solid red;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  border: 3px solid rgb(47, 155, 167);
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.cajasAbout {
  border: 2px solid red;
  margin: 05px;
  padding: 05px;
  border-radius: 4px;
}
